.aboutusheader {
  display: flex;
  flex: 1;
  background-color: #fff ;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.headertitle {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #48486e;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.headerimg {
  border: 2px solid #34b3d3 ;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .aboutusheader {
    display: flex;
    flex: 1;
    background-color: #fff ;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
  }
}
