.aboutdata {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
  margin-bottom: 50px;
}

.orderpage {
  height: 90vh;
  background-image: url('../../Assets/thankyoudropping.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
