.footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #48476e;
  width: 100%;
}

.tempfooter {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  width: 100%;
}

.aboutusfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footergrid {
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40% ;
}

.socialsection {
  display: flex;
  flex: 1;
  z-index: 10;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.socialicons {
  margin-right: 10px;
}

.leftsection {
  display: grid ;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.listitems {
  font-weight: lighter;
}

.listtitle {
  font-weight: normal;
}

.listitems, .listtitle {
  color: #fff;
  list-style: none;
  line-height: 25px;
}

.templistitems {
  color: #000;
  list-style: none;
  line-height: 25px;
}

.templisttitle {
  color: #f6416c;

}

.copyright {
  background-color: #48476e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.copyrighttemp {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #48476e;
  }
  .footergrid {
    margin-left: 0px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .socialsection {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .leftsection {
    display: flex ;
    flex-direction: column;
  }
}
