.stationform {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.stationformlabel {
  font-weight: lighter;
  color: #000;
}

.stationforminput {
  height: 30px;
  border: 0.5px solid rgb(198,199,202) ;
  border-radius: 0px ;
  color: #000;
}

.stationbutton {
  height: 40px;
  width: 200px;
  margin-top: 10px; 
  background-color: #f6416c;
  color: #fff;
  font-size: 15px;
  margin-right: 20px;
  border-radius: 0px !important;
  border: none;
}
