.stepmiddlesection {
  display: flex;
  flex: 1;
  padding-top: 50px ;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stepmiddlesectiontext {
  font-size: 30px;
  font-weight: lighter;
  color: #48486e;
  width: 370px;
  text-align: center;

}

.stepmiddlesectiongrid {
  display: grid ;
  grid-template-columns: 33.33% 33.33% 33.33% ;
}

.gridelement {
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gridelementtext {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
}

.gridelementunderline{
  height: 2px;
  width: 30px;
  background-color: #f6416c ;
}

.gridelementdesc {
  width: 150px ;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  padding-bottom: 70px;
}

.bookbtn {
  height: 40px;
  width: 200px;
  background-color: #f6416c;
  color: #fff;
  font-size: 15px;
  margin-right: 20px;
  border: none;
}

.contactbtn {
  height: 40px;
  width: 200px;
  font-size: 15px;
  color: #48486e;
  background-color: #fff;
  border: 1px solid #48486e ;
}

.bookmodal {
  color: red;

  width: 90vw ;
}

@media only screen and (max-width: 600px) {
    .stepmiddlesection {
      padding-top: 50px ;
      padding-bottom: 25px;
    }
    .stepmiddlesectiontext {
      width: 300px;
    }
    .stepmiddlesectiongrid {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 35px;
      padding-bottom: 35px;
    }
    .bookbtn {
      margin-right: 0px;
    }
    .gridelement {
      padding-left: 0px;
      padding-right: 0px;
    }
}
