.customer-grid {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33% ;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100% ;
}

.review-text {
  color: #48486e ;
  font-weight: bold;
}

.reviewer-name {
  color: #48486e ;
}

@media only screen and (max-width: 600px) {
  .customer-grid {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  .review-card {
    text-align: center;
    border-bottom: 0.5px solid #d3d3d3;
  }
}
/*.customerreviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviewbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  border-bottom: 1px solid #d3d3d3;
}

.textbox {
  font-size: 20px;
}
.reviewnamebox {
  font-size: 15px;
}
.imagebox {
  display: flex;
}

.propic {
  clip-path: circle(50%);
  border-radius: 40px;
  border: 4px solid #34b3d3;
  height: 80px;
  width: 80px;
} */
/*.customerreviewshow {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #34b3d3;
  padding: 20px;
}

.customerreviewdata {
  text-align: justify;
  padding-top: 10px;
  font-weight: normal;
}

.customerreviewfrom {
  align-self: flex-end;
}
*/
/*
.btncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yourreviewbtn {
  width: 200px;
  height: 40px;
  background-color: #f6416c;
  color: #fff;
  font-size: 15px;
  border: none ;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.newreviewbtn {
  width: 100%;
  height: 40px;
  background-color: #f6416c;
  color: #fff;
  font-size: 15px;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.reviewmodal {
  width: 500px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.customerreviewgrid {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 600px) {
  .customerreviewgrid {
    display: flex;
    flex-direction: column;
  }
  .yourreviewbtn {
    width: 90%;
    height: 40px;
    background-color: #f6416c;
    color: #fff;
    font-size: 15px;
    border: none ;
  }
  .reviewmodal {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
  .reviewbox {
    margin-left: 20px;
    margin-right: 20px;
  }
  .customerreviewgrid {
    margin-left: 0px;
  }
}*/
/*
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .card {
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  .card:nth-child(even) {
    margin-right: 20px;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
}
.card span {
  display: block;
}
.card .card-summary {
  padding: 5% 5% 3% 5%;
}
.card .card-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.card .card-header:hover, .card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.card .card-title {
  background: rgba(157, 187, 63, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
.card .card-meta {
  max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: .78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.card:hover, .card:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.card:hover .card-title, .card:focus .card-title {
  background: rgba(157, 187, 63, 0.95);
}
.card:hover .card-meta, .card:focus .card-meta {
  max-height: 1em;
}

img {
  max-width: 100%;
}

.containerfluid {
  background: #fff;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Jaldi', sans-serif;
}

* {
  -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
*/
